[submodule "branding"]
	path = branding
	url = https://github.com/milkshakegum/branding
[submodule "milk-design-system"]
	path = milk-design-system
	url = https://github.com/milkshakegum/milk-design-system
